| Version | Correct | NoLenCheck | NoTrim | NoLuhn | WrongYear | WrongSerial |
| --- | --- | --- | --- | --- | --- | --- |
| Incorrect Length | ✅ | ❌ | ✅ | ✅ | ✅ | ✅ |
| Trim Input       | ✅ | ✅ | ❌ | ✅ | ❌ | ✅ |
| Invalid SSN      | ✅ | ✅ | ✅ | ❌ | ✅ | ✅ |
| Correct Year     | ✅ | ✅ | ✅ | ✅ | ❌ | ✅ |
| Correct Serial   | ✅ | ✅ | ✅ | ✅ | ✅ | ❌ |
| Coverage1 | 76% | 73% | 75% | 73% | 76% | 82% |
| Coverage2 | 82% | 80% | 81% | 80% | 82% | 82% |