| Version | Correct | NoLenCheck | NoTrim | NoLuhn | WrongYear | WrongSerial | Invalid Day |
| --- | --- | --- | --- | --- | --- | --- | --- |
| Incorrect Length | ✅ | ❌ | ✅ | ✅ | ✅ | ✅ | ✅ |
| Trim Input       | ✅ | ✅ | ❌ | ✅ | ❌ | ✅ | ✅ |
| Invalid SSN      | ✅ | ✅ | ✅ | ❌ | ✅ | ✅ | ✅ |
| Correct Year     | ✅ | ✅ | ✅ | ✅ | ❌ | ✅ | ✅ |
| Correct Serial   | ✅ | ✅ | ✅ | ✅ | ✅ | ❌ | ✅ |
| Invalid Day      | ✅ | ✅ | ✅ | ✅ | ✅ | ✅ | ❌ |
| Coverage1 | 76% | 73% | 75% | 73% | 76% | - | - |
| Coverage2 | 82% | 80% | 81% | 80% | 82% | 82% | - |
| Coverage3 | 88% | 86% | 86% | 86% | 88% | 88% | - |
| Coverage4 | 88% | 86% | 87% | 86% | 88% | 88% | 80% |