| Version | Correct | NoLenCheck | NoTrim | NoLuhn | WrongYear |
| --- | --- | --- | --- | --- | --- |
| Incorrect Length | ✅ | ❌ | ✅ | ✅ | ✅ |
| Trim Input       | ✅ | ✅ | ❌ | ✅ | ❌ |
| Invalid SSN      | ✅ | ✅ | ✅ | ❌ | ✅ |
| Correct Year     | ✅ | ✅ | ✅ | ✅ | ❌ |
| Coverage | 76% | 73% | 75% | 73% | 76% |